
/********CSS***********/
nav{
    background-color: rgb(0, 0, 0);
}

h1{
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}


p{
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

button{
    color: rgb(135, 192, 245);
    background-color: white;
    border-color: rgb(135, 192, 245);
}

header{
    background-image:url(images/darkspace.jpg);
    background-color: #194c9f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: rgb(135, 192, 245);
    text-align: center;
}

.nextday{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.fav_main{
    width: 50%;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
}

 /*img from API */
 .imgx  {
    width:60%;
    margin: 3px;
    display: flex;
    float: left;
 }

.imgx img{
 width: 100%;
}
    
.appear {
    display: block;
    position: fixed;
    /* position: absolute; */
    margin: 0px;
    z-index: 999;
    /* top: 0; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  /*Like Button*/
  #heartbutton {
    color:#000000;
    font-size: 15px;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 14px 5px;
    line-height: 3px;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    margin: 10px 0;
    align-items: center;
  }

  .heart {
    display: inline-block;
    fill: currentColor;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    align-items: center;
  }

  #heartbutton:hover{
    color: #194c9f;
  }
  
  .like{
    background-color: rgb(135, 192, 245);;
    border-color: rgb(135, 192, 245);;
  }

  
  
  
/**********MOBILE*************/
@media screen and (max-width: 912px) {

    .logo{
        width: 100px;
    }


    .dateholder{
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 300px;
        
    }
    
    .form-control{
        height: 10px;
        margin-left: 10px;
    }

    .cosmos{
        font-weight: bold;
        font-size: 22px;
    }

    .definitiontittle{
        align-items: center;
        font-size: 17px;
    }

    

    .date{
        font-weight: bold;
    }



    .yesterday{
        display: none;
    }

    .tomorrow{
        display: none;
    }

    .Read{
        display: flex;
        flex-direction: row-reverse;
    }



    footer{
        background-color: #000000;
    }
  }


  @media (min-width: 1350px) and (max-width: 1605px){



.dateholder{
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}



.form-control{
    height: 10px;
    margin-left: 10px;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.yesterday2{
    display: none;
}

.tomorrow2{
    display: none;
}

.yesterday{
    padding-left: 20px;
}

.tomorrow{
    display: flex;
    align-items: center;
}
.tomorrowimg{
    align-items: center;
}

.date{
    font-weight: bold;
}

.Read{
    display: none;
}



footer{
    background-color: rgb(43, 45, 168);
}

.footertxt{
    font-size: 14px;
}

  }